In [3]:
#Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd

# CSV ÌååÏùº Î∂àÎü¨Ïò§Í∏∞
df = pd.read_csv('diabetes.csv')

# ÏÉÅÏúÑ 5Í∞ú ÏÉòÌîå ÎØ∏Î¶¨Î≥¥Í∏∞
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
# Ïª¨Îüº Ïù¥Î¶Ñ ÌôïÏù∏
print("üìå Ïª¨Îüº Î™©Î°ù:")
print(df.columns)

# Í∞Å Ïª¨ÎüºÎ≥Ñ Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ + Í≤∞Ï∏°Ïπò Ïú†Î¨¥ ÌôïÏù∏
print("\nüìå ÏöîÏïΩ Ï†ïÎ≥¥:")
print(df.info())

# Í∏∞Î≥∏ ÌÜµÍ≥Ñ Î≥¥Í∏∞
print("\nüìå Í∏∞Î≥∏ ÌÜµÍ≥Ñ:")
print(df.describe())

# 0Ïù¥ Î™á Í∞ú ÏûàÎäîÏßÄ ÌôïÏù∏ (Í≤∞Ï∏°ÏπòÏ≤òÎüº Í∞ÑÏ£ºÌï†ÏßÄ ÌåêÎã®ÌïòÍ∏∞ ÏúÑÌï¥)
print("\nüìå 0Í∞í Í∞úÏàò ÌôïÏù∏:")
print((df == 0).sum())

üìå Ïª¨Îüº Î™©Î°ù:
Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

üìå ÏöîÏïΩ Ï†ïÎ≥¥:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
None

üìå Í∏∞Î≥∏ ÌÜµÍ≥Ñ:
       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479
std       3.369578   31.972618      19.355807      15.952218  115.244002
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000
75%       6.000000  140.250000      80.000000      32.000000  127.250000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age     Outcome
count  768.000000                768.000000  768.000000  768.000000
mean    31.992578                  0.471876   33.240885    0.348958
std      7.884160                  0.331329   11.760232    0.476951
min      0.000000                  0.078000   21.000000    0.000000
25%     27.300000                  0.243750   24.000000    0.000000
50%     32.000000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000

üìå 0Í∞í Í∞úÏàò ÌôïÏù∏:
Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

In [5]:
print(df.describe())

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479
std       3.369578   31.972618      19.355807      15.952218  115.244002
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000
75%       6.000000  140.250000      80.000000      32.000000  127.250000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age     Outcome
count  768.000000                768.000000  768.000000  768.000000
mean    31.992578                  0.471876   33.240885    0.348958
std      7.884160                  0.331329   11.760232    0.476951
min      0.000000                  0.078000   21.000000    0.000000
25%     27.300000                  0.243750   24.000000    0.000000
50%     32.000000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000

In [6]:
print((df == 0).sum())

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

In [7]:
import numpy as np

# 1. 0ÏùÑ Í≤∞Ï∏°ÏπòÎ°ú Í∞ÑÏ£ºÌï† Ïª¨ÎüºÎì§ (ÏùòÌïôÏ†ÅÏúºÎ°ú 0Ïù¥ Î∂àÍ∞ÄÎä•)
cols_with_invalid_zeros = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

# 2. Ìï¥Îãπ Ïª¨ÎüºÎì§Ïùò 0Í∞íÏùÑ NaNÏúºÎ°ú Î∞îÍæ∏Í∏∞
df[cols_with_invalid_zeros] = df[cols_with_invalid_zeros].replace(0, np.nan)

# 3. NaNÏùÑ ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïòÍ∏∞
df.fillna(df.mean(numeric_only=True), inplace=True)

# 4. ÌôïÏù∏: Í≤∞Ï∏°ÏπòÍ∞Ä Ïûò Ï≤òÎ¶¨ÎêòÏóàÎäîÏßÄ ÌôïÏù∏
print(df.isnull().sum())

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [8]:
from sklearn.preprocessing import StandardScaler

# 1. ÌäπÏÑ±Í≥º ÌÉÄÍ≤ü Î∂ÑÎ¶¨
X = df.drop('Outcome', axis=1)  # ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞
y = df['Outcome']               # ÌÉÄÍ≤üÍ∞í (Î∂ÑÎ•ò Î™©Ï†Å)

# 2. Ï†ïÍ∑úÌôî (ÌèâÍ∑† 0, ÌëúÏ§ÄÌé∏Ï∞® 1)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# 3. Í≤∞Í≥º ÌôïÏù∏
print(pd.DataFrame(X_scaled).describe())

                  0             1             2             3             4  \
count  7.680000e+02  7.680000e+02  7.680000e+02  7.680000e+02  7.680000e+02
mean  -6.476301e-17 -3.561966e-16  6.915764e-16  7.956598e-16 -3.330669e-16
std    1.000652e+00  1.000652e+00  1.000652e+00  1.000652e+00  1.000652e+00
min   -1.141852e+00 -2.554131e+00 -4.004245e+00 -2.521670e+00 -1.665945e+00
25%   -8.448851e-01 -7.212214e-01 -6.953060e-01 -4.727737e-01 -4.007289e-01
50%   -2.509521e-01 -1.540881e-01 -1.675912e-02  8.087936e-16 -3.345079e-16
75%    6.399473e-01  6.103090e-01  6.282695e-01  3.240194e-01 -3.345079e-16
max    3.906578e+00  2.541850e+00  4.102655e+00  7.950467e+00  8.126238e+00

                  5             6             7
count  7.680000e+02  7.680000e+02  7.680000e+02
mean   3.515706e-16  2.451743e-16  1.931325e-16
std    1.000652e+00  1.000652e+00  1.000652e+00
min   -2.075119e+00 -1.189553e+00 -1.041549e+00
25%   -7.215397e-01 -6.889685e-01 -7.862862e-01
50%   -8.363615e-03 -3.001282e-01 -3.608474e-01
75%    6.029301e-01  4.662269e-01  6.602056e-01
max    5.042087e+00  5.883565e+00  4.063716e+00

In [9]:
from sklearn.model_selection import train_test_split

# X: ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞ (Ï†ïÍ∑úÌôî ÏôÑÎ£åÎêú)
# y: ÌÉÄÍ≤üÍ∞í (Outcome - 0 or 1)

X_train, X_test, y_train, y_test = train_test_split(
    X_scaled,           # ÏûÖÎ†•Í∞í
    y,                  # Ï†ïÎãµÍ∞í
    test_size=0.2,      # ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ ÎπÑÏú® (20%)
    random_state=42     # ÎûúÎç§ ÏãúÎìú (Ïû¨ÌòÑ Í∞ÄÎä•ÏÑ± ÌôïÎ≥¥)
)

# Î∂ÑÌï† Í≤∞Í≥º ÌôïÏù∏
print("ÌïôÏäµ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞:", X_train.shape)
print("ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞:", X_test.shape)

ÌïôÏäµ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞: (614, 8)
ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞: (154, 8)

In [10]:
import torch
import torch.nn as nn

class DiabetesClassifier(nn.Module):
    def __init__(self):
        super(DiabetesClassifier, self).__init__()
        self.model = nn.Sequential(
            nn.Linear(8, 32),
            nn.ReLU(),
            nn.Linear(32, 16),
            nn.ReLU(),
            nn.Linear(16, 1),
            nn.Sigmoid()  # ÌôïÎ•† Ï∂úÎ†•
        )

    def forward(self, x):
        return self.model(x)

In [11]:
import torch
from torch.utils.data import TensorDataset, DataLoader
import torch.optim as optim

# 1. ÎÑòÌååÏù¥ ‚Üí ÌÖêÏÑú Î≥ÄÌôò
X_train_tensor = torch.tensor(X_train, dtype=torch.float32)
y_train_tensor = torch.tensor(y_train.values, dtype=torch.float32).view(-1, 1)
X_test_tensor = torch.tensor(X_test, dtype=torch.float32)
y_test_tensor = torch.tensor(y_test.values, dtype=torch.float32).view(-1, 1)

# 2. Îç∞Ïù¥ÌÑ∞Î°úÎçî Íµ¨ÏÑ±
train_dataset = TensorDataset(X_train_tensor, y_train_tensor)
train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)

test_dataset = TensorDataset(X_test_tensor, y_test_tensor)
test_loader = DataLoader(test_dataset, batch_size=32, shuffle=False)

# 3. Î™®Îç∏ ÏÉùÏÑ±
model = DiabetesClassifier()
criterion = nn.BCELoss()  # Ïù¥ÏßÑ Î∂ÑÎ•òÏö© ÏÜêÏã§ Ìï®Ïàò
optimizer = optim.Adam(model.parameters(), lr=0.001)

# 4. ÌïôÏäµ Î£®ÌîÑ
epochs = 50
for epoch in range(epochs):
    model.train()
    running_loss = 0.0

    for X_batch, y_batch in train_loader:
        optimizer.zero_grad()
        outputs = model(X_batch)
        loss = criterion(outputs, y_batch)
        loss.backward()
        optimizer.step()
        running_loss += loss.item()

    print(f"Epoch {epoch+1}/{epochs}, Loss: {running_loss / len(train_loader):.4f}")

Epoch 1/50, Loss: 0.6658
Epoch 2/50, Loss: 0.6348
Epoch 3/50, Loss: 0.5935
Epoch 4/50, Loss: 0.5613
Epoch 5/50, Loss: 0.5292
Epoch 6/50, Loss: 0.4960
Epoch 7/50, Loss: 0.4747
Epoch 8/50, Loss: 0.4735
Epoch 9/50, Loss: 0.4632
Epoch 10/50, Loss: 0.4405
Epoch 11/50, Loss: 0.4510
Epoch 12/50, Loss: 0.4834
Epoch 13/50, Loss: 0.4348
Epoch 14/50, Loss: 0.4485
Epoch 15/50, Loss: 0.4370
Epoch 16/50, Loss: 0.4455
Epoch 17/50, Loss: 0.4199
Epoch 18/50, Loss: 0.4402
Epoch 19/50, Loss: 0.4152
Epoch 20/50, Loss: 0.4182
Epoch 21/50, Loss: 0.4223
Epoch 22/50, Loss: 0.4186
Epoch 23/50, Loss: 0.4117
Epoch 24/50, Loss: 0.4060
Epoch 25/50, Loss: 0.4170
Epoch 26/50, Loss: 0.4084
Epoch 27/50, Loss: 0.4065
Epoch 28/50, Loss: 0.4066
Epoch 29/50, Loss: 0.4056
Epoch 30/50, Loss: 0.4148
Epoch 31/50, Loss: 0.3994
Epoch 32/50, Loss: 0.4042
Epoch 33/50, Loss: 0.4031
Epoch 34/50, Loss: 0.3954
Epoch 35/50, Loss: 0.4199
Epoch 36/50, Loss: 0.3972
Epoch 37/50, Loss: 0.4127
Epoch 38/50, Loss: 0.3889
Epoch 39/50, Loss: 0.3941
Epoch 40/50, Loss: 0.3908
Epoch 41/50, Loss: 0.4031
Epoch 42/50, Loss: 0.4039
Epoch 43/50, Loss: 0.4118
Epoch 44/50, Loss: 0.3891
Epoch 45/50, Loss: 0.3861
Epoch 46/50, Loss: 0.3875
Epoch 47/50, Loss: 0.3884
Epoch 48/50, Loss: 0.3890
Epoch 49/50, Loss: 0.3799
Epoch 50/50, Loss: 0.4022

In [12]:
from sklearn.metrics import accuracy_score

# 1. ÌèâÍ∞Ä Î™®Îìú ÏÑ§Ï†ï
model.eval()

# 2. ÏòàÏ∏° Î∞è Ï†ïÎãµ Ï†ÄÏû• Î¶¨Ïä§Ìä∏
all_preds = []
all_labels = []

# 3. ÌÖåÏä§Ìä∏ÏÖãÏóêÏÑú ÏòàÏ∏° ÏàòÌñâ
with torch.no_grad():
    for X_batch, y_batch in test_loader:
        outputs = model(X_batch)
        predicted = (outputs > 0.5).float()  # ÏãúÍ∑∏Î™®Ïù¥Îìú Í≤∞Í≥ºÍ∞Ä 0.5 Ïù¥ÏÉÅÏù¥Î©¥ 1Î°ú Î∂ÑÎ•ò
        all_preds.extend(predicted.numpy())
        all_labels.extend(y_batch.numpy())

# 4. Ï†ïÌôïÎèÑ Í≥ÑÏÇ∞
acc = accuracy_score(all_labels, all_preds)
print(f"‚úÖ Test Accuracy: {acc * 100:.2f}%")

‚úÖ Test Accuracy: 75.32%

In [13]:
#Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd

# CSV ÌååÏùº Î∂àÎü¨Ïò§Í∏∞
df = pd.read_csv('heart (1).csv')

# ÏÉÅÏúÑ 5Í∞ú ÏÉòÌîå ÎØ∏Î¶¨Î≥¥Í∏∞
df.head()
	# 1.	df.head(), df.info() ‚Üí Îç∞Ïù¥ÌÑ∞ Íµ¨Ï°∞ ÌôïÏù∏
	# 2.	df.describe() ‚Üí Ïù¥ÏÉÅÏπò, Í∞íÏùò Î≤îÏúÑ ÌôïÏù∏
	# 3.	df.isnull().sum() ÎòêÎäî (df == 0).sum() ‚Üí Í≤∞Ï∏°Ïπò ÌÉêÏÉâ
	# 4.	ÏûàÏùÑ ÎïåÎßå ‚Üí fillna() ÎòêÎäî ÌèâÍ∑†/Ï§ëÏïôÍ∞íÏúºÎ°ú ÎåÄÏ≤¥
	# 5.	ÌïÑÏöîÌï† ÎïåÎßå ‚Üí StandardScaler ÎòêÎäî MinMaxScaler ÏÇ¨Ïö©

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [14]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [16]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [17]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64